@{
    ViewBag.PaginatedModel = new PaginatedModel();
    ViewBag.IsShowSearch = ViewContext.RouteData.Values["Controller"]?.ToString() == "Posts";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-white bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand px-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" /> &nbsp;&nbsp;
                <partial name="_Menu" />
            </div>
        </nav>
    </header>
    <div class="container min-vh-100">
        @if (ViewBag.IsShowSearch) {
            <partial name="_SearchPartial" model="@ViewBag.PaginatedModel" />
        }
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="chatbot shadow">
                <header class="bg-dark rounded-top-3 text-center py-2 text-white">
                    <h2>Chatbot</h2>
                </header>
                <ul class="list-unstyled p-2 overflow-y-auto">
                    <li class="answer">
                        <img src="~/icons/bot.png" alt="My bot icon"/>
                        <p class="text-bg-light rounded-2 border border-primary-subtle"> Hi there <br /> How can I help you today? </p>
                    </li>
                </ul>
                <div class="border-top border-dark-subtle p-2 d-flex gap-2 align-items-center">
                    <textarea id="questionInput" placeholder="Enter a message..." required></textarea>
                    <img src="~/icons/send.png" alt="My sending icon" role="button" />
                </div>
            </div>
            <button class="chat-toggle-btn">
                <img src="~/icons/messenger.png" alt="My sending icon" />
                <img src="~/icons/close.png" alt="My sending icon" />
            </button>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Blog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>