@using BlogGPT.Application.Common.Interfaces.Identity

@inject IIdentityService IdentityService

@if (IdentityService.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">Welcome @IdentityService.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-outline-warning">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="btn btn-outline-light me-0 me-sm-2" asp-area="Identity" asp-controller="Account" asp-action="Register">
                Sign up
            </a>
        </li>
        <li class="nav-item mt-2 mt-sm-0">
            <a class="btn btn-outline-light" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
    </ul>
}