@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorService

@{
    var isAuthor = await authorService.AuthorizeAsync(this.User, "CanManageCategory");
}

@if (isAuthor.Succeeded) {
    <div class="dropdown">
        <button class="btn btn-outline-danger dropdown-toggle" id="manage-db-drop-down-menu" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="manage-db-drop-down-menu">
            <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Manage Roles
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
                Manage Members
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Manage">
                Manage Catagories
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="ManagePosts" asp-area="Manage">
                Manage Posts
            </a>
            <a class="dropdown-item" asp-action="Import" asp-controller="ManagePosts" asp-area="Manage">
                Manage Embedding
            </a>
        </div>
    </div>
}
