@using BlogGPT.Application.Common.Interfaces.Identity
@model PaginatedModel
@inject IIdentityService IdentityService

<form class="mb-3 p-4 row" method="get" action="@Url.Action("Index", "Posts")">
    <input type="text" asp-for="Categories" class="form-control" placeholder="categories" hidden />
    <input type="text" asp-for="PageSize" class="form-control" placeholder="size" hidden />
    <input type="text" asp-for="PageNumber" class="form-control" placeholder="page" hidden />
    <input type="text" asp-for="Direction" class="form-control" placeholder="dir" hidden  />
    <div class="col-md-12 mb-3 input-group">
        <input type="text" asp-for="Search" class="form-control" placeholder="How to do anything..." />
        <button class="btn btn-outline-success" value="search" type="submit">
            <i class="bi bi-search"></i>
            Search
        </button>
    </div>
    <div class="col-md-3">
        <select asp-for="Order" class="form-select" onchange="this.form.submit()" aria-label="Order">
            <option value="date">
                Latest
            </option>
            <option value="view">
                Popular
            </option>
        </select>
    </div>
</form>
