@using BlogGPT.UI.Views.Shared.Components.CategorySidebar;
@model CategorySidebar.CategorySidebarData
@{
	int level = Model.Level;
}
@if (Model.Categories != null)
{
	@if (level == 0)
	{
		@Html.Raw(@"<div class='categorysidebar'>")
		<h3>
			<a class="text-decoration-none" asp-controller="Posts" asp-action="Index" asp-route-categories="">
				Categories
			</a>
		</h3>
	}
	<ul class="list-unstyled">
		@foreach (var category in Model.Categories)
		{
			<li class="ps-4">
				<a class="text-decoration-none" asp-controller="Posts" asp-action="Index"
					asp-route-categories="@category.Item.Slug">
					@category.Item.Name
				</a>
				@if (category.Children != null)
				{
					@await Component.InvokeAsync(nameof(CategorySidebar), new CategorySidebar.CategorySidebarData()
{
	Categories = category.Children.ToList(),
	Level = level + 1
}
								)
					;
				}
			</li>
		}
	</ul>
	@if (level == 0)
	{
		@Html.Raw("</div>")
	}
}