@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        You have confirm your email. 
        Please <a asp-controller="Account" asp-action="Login">Click here to sign in</a>.
    </p>
</div>
